
.page-title {
    text-align: center;
    color: #7ED0F9;
    font-family: 'Arial Black', sans-serif;
    font-style: italic;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    margin: 20px 0;
    font-size: 40px;
}

nav ul.nav {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: center;
    gap: 20px;
}

nav ul.nav li {
    display: inline;
}

nav ul.nav a {
    text-decoration: none;
    padding: 10px 15px;
}nav {
    background-color: #bbb9b9;
    overflow: hidden;
    display: flex;
    justify-content: center;
    padding: 10px;
}
